/* Estilos del cuerpo */
body {
    font-family: 'Courier New', monospace;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 2rem;
}

/* Estilos del contenedor del formulario */
form {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background: linear-gradient(145deg, rgba(2, 29, 78, 0.9), rgba(31, 215, 232, 0.8));
    border-radius: 1rem;
    box-shadow: 0px 0px 60px #1f4c65;
    color: #ffffff;
}

/* Estilos del título */
h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}

/* Estilos de los campos de input */
input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 0 #000;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus {
    background-color: #010101;
    color: #fff;
    border-color: #d6d9dd;
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
}

/* Estilos del botón de actualizar */
input[type="submit"] {
    font-size: 1.2rem;
    padding: 1rem 4rem;
    border: none;
    outline: none;
    border-radius: 0.9rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
}

input[type="submit"]:hover {
    background: linear-gradient(20deg, rgba(2, 29, 78, 0.681) 10%, rgba(31, 215, 232, 0.873) 30%);
    color: rgb(4, 4, 38);
}

/* Estilos del enlace */
a {
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(14, 14, 26);
    padding: 1rem 3rem;
    border-radius: 0.9rem;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
}

a:hover {
    background: linear-gradient(20deg, rgba(2, 29, 78, 0.681) 10%, rgba(31, 215, 232, 0.873) 30%);
    color: rgb(4, 4, 38);
}
